{% extends 'BlogWeb::layout.html.twig' %}

{% block content %}
	<div id="posts">
	{% for post in posts %}
		<div class="post">
			<a name="pid_{{ post.id }}"></a>
			<a class="title" href="{{ path('_posts_show', { 'pid': post.id }) }}">{{ post.title }}</a>
			<p class="content">{{ post.content }}</p>
			<p class="author">{{ post.user.login }}</p>
			
			<div class="actions">
				{% if post.canEdit(user) %}
				<a href="{{ path('_posts_edit', { 'pid': post.id }) }}">Edit</a>
				{% endif %}
				{% if post.canDelete(user) %}
				<a href="{{ path('_posts_delete', { 'pid': post.id }) }}">Delete</a>
				{% endif %}
			</div>
		</div>
	{% else %}
		<h3 class="empty">No posts</h3>
	{% endfor %}
	</div>
{% endblock %}