{% extends 'BlogWebBundle::layout.html.twig' %}

{% block content %}
	<div class="post">
		<a name="pid_{{ post.id }}"></a>
		<h4 class="title">{{ post }}</h4>
		<p class="content">{{ post.content }}</p>
		<p class="author">{{ post.user }}</p>

		<div class="actions">
			{% if post.canEdit(user) %}
			<a href="{{ path('_posts_edit', { 'pid': post.id }) }}">Edit</a>
			{% endif %}
			{% if post.canDelete(user) %}
			<a href="{{ path('_posts_delete', { 'pid': post.id }) }}">Delete</a>
			{% endif %}
		</div>
	</div>

	{% render 'BlogWebBundle:Comments:show' with {'pid': post.id} %}
	{% if commentEdit %}
	{% render 'BlogWebBundle:Comments:edit'  with {'pid': post.id, 'cid': commentEdit} %}
	{% else %}
	{% render 'BlogWebBundle:Comments:add'  with {'pid': post.id} %}
	{% endif %}
{% endblock %}