{% extends 'BlogWebBundle::layout.html.twig' %}

{% block content %}
	<div class="user">
		<strong>{{ user }}</strong>
		
		<div id="posts">
		{% for post in paginator %}
			<div class="post">
				<a name="pid_{{ post.id }}"></a>
				<a class="title" href="{{ path('_posts_show', { 'pid': post.id }) }}">{{ post }}</a>
				<p class="content">{{ post.content|truncate(250)|nl2br }}</p>

				<div class="meta">
					<span class="create">Create: <strong>{{ post.createTime|date }}</strong></span>
					{%if post.editTime %}
					<span class="edit">Edit: <strong>{{ post.editTime|date }}</strong></span>
					{% endif %}
				</div>
				<div class="actions">
					<a href="{{ path('_posts_show_comments', { 'pid': post.id }) }}">Comments</a>
					{% if post.canEdit(user) %}
					<a href="{{ path('_posts_edit', { 'pid': post.id }) }}">Edit</a>
					{% endif %}
					{% if post.canDelete(user) %}
					<a class="confirmDialog" href="{{ path('_posts_delete', { 'pid': post.id }) }}">Delete</a>
					{% endif %}
				</div>
			</div>
		{% else %}
			<h3 class="empty">No posts</h3>
		{% endfor %}
		</div>

		<div class="paginator">
		    {{ paginator_render(paginator)|raw }}
		</div>
	</div>
{% endblock %}