<a name="comments"></a>

{% if comments %}
<h3 class="comments-label">Comments <span class="count">({{ comments|length }})</span></h3>

<div id="comments">
{% for comment in comments %}
	<div class="comment">
		<a name="cid_{{ comment.id }}"></a>
		<p class="content">{{ comment|nl2br }}</p>
		<p class="author">{{ comment.user }}</p>

		<div class="meta">
			<span class="create">Create: <strong>{{ comment.createTime|date }}</strong></span>
			{%if comment.editTime %}
			<span class="edit">Edit: <strong>{{ comment.editTime|date }}</strong></span>
			{% endif %}
		</div>
		<div class="actions">
			{% if comment.canEdit(user) %}
			<a href="{{ path('_posts_show_comments_edit', { 'pid': comment.pid, 'cid': comment.id }) }}">Edit</a>
			{% endif %}
			{% if comment.canDelete(user) %}
			<a class="confirmDialog" href="{{ path('_comments_delete', { 'pid': comment.pid, 'cid': comment.id }) }}">Delete</a>
			{% endif %}
		</div>
	</div>
{% endfor %}
</div>

{% else %}
	<h3 class="empty">No comments</h3>
{% endif %}