<a name="comments"></a>

<div id="comments">
{% for comment in comments %}
	<div class="comment">
		<a name="cid_{{ comment.id }}"></a>
		<p class="content">{{ comment.content }}</p>
		<p class="author">{{ comment.user.login }}</p>
		
		<div class="actions">
			{% if comment.canEdit(user) %}
			<a href="{{ path('_comments_edit', { 'pid': comment.pid, 'cid': comment.id }) }}">Edit</a>
			{% endif %}
			{% if comment.canDelete(user) %}
			<a href="{{ path('_comments_delete', { 'pid': comment.pid, 'cid': comment.id }) }}">Delete</a>
			{% endif %}
		</div>
	</div>
{% else %}
	<h3 class="empty">No comments</h3>
{% endfor %}
</div>